<template>
	<div class="container">
		<div class="navbar">
			<div class="navbar__brand">
				<router-link to="/"></router-link>
			</div>
			<ul class="navbar__list">
				<li class="navbar__item">
					<router-list to="/login">Login</router-list>
				</li>
			</ul>
		</div>
	</div>
</template>